main {
  max-width: 500 px;
  margin-top: 35px;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  align-items: center;
  background: rgb(0, 0, 0);
  width: 100%;
}
header a {
  text-decoration: none;
  color: inherit;
}
header a.logo {
  font-weight: bold;
  font-size: xx-large;
}
header nav {
  display: flex;
}
div.blog {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 30px;
  margin-top: 10vh;
}

div.blog h2 {
  margin: 0;
}
div.blog p.info {
  margin: 6px 0;
  color: #888;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
div.blog p.info a.user {
  color: #333;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 10px 0;
  border-radius: 20px;
}

.navbar a {
  text-decoration: none;
}

.navbar img {
  width: 40px;
  cursor: pointer;
  margin: 0 50px;
}

.Header {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  width: 100%;
  height: 75px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  margin-left: 20px;
}

.search-box {
  display: flex;
  align-items: inherit;
}

.search-box img {
  width: 30px;
  margin-right: 0px;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: gray;
  height: 10px;
}

.search-input {
  width: 100px;
  padding: 10px;
  border: 1px solid;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 15px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
input.search-input {
  width: 250px;
  height: 15px;
}

.blogs {
  margin-bottom: 30px;
  margin-top: 0px;
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
}

.blogtitle {
  margin-top: 10vh;
}
